  body {
                background-image: url('https://img1.picmix.com/output/stamp/normal/2/0/5/6/316502_7f4ce.gif');
                background-color: rgba(102, 5, 53, 0.5); /* Adds a semi-transparent overlay */
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                overflow: scroll;
            }
            div {
                text-align: center;
                vertical-align: middle;} h1 { margin-top: 20px; } ul { list-style-type: none; padding: 0; font-size: 18px; } li { margin: 10px 0; }
            h1 {
                margin-top: 20px;
                font-size: 24px;
                font: 30px "Corben", serif;
                font-weight: 700;
                font-style: normal;
                color: white;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

            }
            li {
                margin: 10px 0;
                color: white;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                font: 18px "Montserrat", serif;
                font-weight: 400;
                font-style: normal;
                list-style-type: square;
                list-style-position: inside;
            }
            h2 {
                margin-top: 20px;
                font-size: 18px;
                font: 20px "Montserrat", serif;
                font-weight: 400;
                font-style: normal;
                color: white;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            }